*{
    margin: 0px;
    box-sizing: border-box;
}

.background{
    background-image: url(lime.jpg);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#gray-background{
    width: 65%;
    height: 87%;
    background-color: rgba(16,16,16, 0.65);
    position: absolute;
    transform: translate(-50%);
    top: 3%;
    left: 50%;
    border-radius: 30px;
}

.container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 85%;
    height: 80%;
}

#logo > img{
    max-width: 25%;
    height: auto;
    margin: auto;
    margin-bottom: 1%;
    display: block;
}

div > #slogan{
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color:rgb(22,218,0);
}

#green-background{
    background-color: #00dd00;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 0.5%;
}

#green-background nav{
    display: block;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav > button{
    margin-left: 0.25%;
    margin-right: 0.25%;
}

#gino .status{
    margin-top: 2%;
    margin-bottom: 1%;
}

#mike .status{
    margin-top: 5%;
    margin-bottom: 1%;
}

#fede .status{
    margin-top: 5%;
    margin-bottom: 1%;
}

.bottom p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.bottom .name{
    font-weight: 400;
    font-size: 20px;
    display: inline;
}

.bottom .other{
    font-size: 15px;
    font-weight: 200;
}

.bottom .bar{
    border-radius: 5px;
    height: 4%;
    position: absolute;
    display: block;
    margin-top: 0.5%;
}

#gino .bar{
    background-color: #f5b453;
    width: 45%;
}

#mike .bar{
    background-color: #1ec31e;
    width: 65%;
}

#fede .bar{
    background-color: #be4141;
    width: 20%;
}